.dbsLogo {
  width: 65px;
}

.mainContainer {
  background-color: #333333;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#height,
#weight,
#bmi,
#bodyFat,
#Duration,
#Kilometres,
#selectedActivity,
#username,
#password {
  width: 80%;
  background-color: transparent;
  border-color: red;
}

#bmi {
  background-color: rgb(240, 248, 255, 0.1) !important;
}

#height,
#weight,
#bmi,
#bodyFat,
#Username,
#password {
  color: #fafafa !important;
}

#loginFormRow {
  margin-top: 20%;
}

#registerFormRow {
  margin-top: 20%;
  display: none;
}

#leaderBoard {
  margin-top: 15%;
  display: none;
}

.hamBurger {
  border: unset !important;
}

.dbsNavbar {
  background-color: black !important;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 30;
}

.registerDigiGo {
  color: #fff;
  background-color: #ca2129;
  border-color: #ca2129;
  padding: 2% 5% 2% 5%;
  border-radius: 50px;
}

.progress {
  width: 100px;
  height: 100px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
  background-color: #333333;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #ca2129;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
  background-color: #333333;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress .progress-value {
  z-index: 9;
  color: #fafafa;
  font-size: 18px !important;
  margin-left: 17px;
  margin-top: -7px;
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
}
.progress .progress-value div {
  margin-top: 10px;
}
.progress .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}
.progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}
.progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}
.progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}
.progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}
.progress {
  margin-bottom: 1em;
}

.successPara {
  color: white;
  margin: 0;
  text-align: center;
}

.positionInfo {
  color: white;
  font-size: 14px;
  padding: 2% 3% 2% 3%;
  font-weight: 100;
}

.currentPosition {
  color: red;
  font-weight: 600;
}

.userPosition,
.myCityPosition {
  background-color: #ca2129;
}

#collapsibleNavbar {
  text-align: right;
  padding-right: 10%;
  height: 100vh;
}

#loginlink,
#registerLink,
#aboutLink {
  color: red;
}

.cityRewards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34%;
}

.myCityText {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 13px;
  font-weight: bold;
}

.dbsDigiCityModal {
  background-color: #333333;
}

.dbsDigiCityModalHeader {
  padding: 0% 1% 1% 1%;
  border-color: #ca2129;
}

.dbsDigiCityModalTitle {
  color: white;
}

.dbsDigiCityModalClose {
  color: #ca2129;
  text-shadow: unset;
  font-size: 30px;
  opacity: 1;
}

.targetDistance,
.targetDistanceAchieved,
.targetDistanceReward {
  margin: 0;
  font-size: 14px;
  color: #fafafa;
  font-weight: bold;
}

.distanceInKm,
.distanceInKmAchieved,
.treeReward {
  font-weight: 100;
}

.dbsDigiCityModalTitle,
.dbsDigiCityModalBody {
  padding: 2%;
}

.dbsDigiCityModalBodyHr {
  border-color: #ca2129;
  width: 100%;
}

.cityStats {
  border-right: 1px solid #ca2129;
}

.cityTable {
  margin-top: 5px;
}
.lowWeightFont {
  font-size: 14px;
  font-weight: 100;
}

#cityDBSRewards,
#statsModal {
  background-color: #343a40;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-color: transparent;
  background-image: url(index.html);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.statistics {
  width: 20%;
  float: right;
  margin-right: 4%;
}

.rewardInfo {
  margin: 0;
  font-size: 15px;
  color: white;
  font-weight: 100;
}

.someCount {
  font-weight: 100;
}
.loginDigiGo {
  color: #fff;
  background-color: #ca2129;
  border-color: #ca2129;
  padding: 2% 5% 2% 5%;
  border-radius: 50px;
}
.referBtn,
.offerBtn {
  color: #fff;
  background-color: #ca2129;
  border-color: #ca2129;
  padding: 0;
  border-radius: 40px;
  font-size: 12px;
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
  display: none;
}

.dbsDigiCityModalTitleRefer {
  font-size: 16px;
  color: #ca2129;
}

.offerCount {
  position: relative;
  bottom: 10px;
  left: 6px;
  font-size: 10px;
  font-weight: bold;
}

.dbsDigiCityModalTitleGrab {
  color: white;
  font-size: 18px;
}
